.header {
    align-items: center;
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
}

.title {
    color: var(--main-font-dark);
    font-size: 30px;
    font-weight: 700;
}

.close-button {
    cursor: pointer;
}

@media (max-width: 750px) {
    .rules-modal {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 45px;
    }

    .rules-button {
        display: block;
        margin: 50px auto;
        position: initial;
    }
}